* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-image: url("./images/world.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1b1d44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
  display: flex;
  align-items: center;
  width: 20%;
  color: #fff;
}

input[type="text"] {
  border: 2px solid #000;
  padding: 12px;
  font-size: 16px;
  outline: none;
  margin-top: 60px;
  background-color: #4a547b;
  border: 3px solid #fff;
  border-radius: 15px;
  color: #fff;
  transition: 0.3s;
}

input[type="text"]:focus {
  background: #1e1d45;
}

input[type="text"]::placeholder {
  color: #fff;
}

.country__name {
  padding-left: 10px;
}

.country-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  width: 100%;
  text-align: left;
  margin: 50px 30px;
  border: 3px solid white;
  background: rgba(99, 114, 154, 0.71);
  padding: 30px;
  border-radius: 15px;
}

.error-message {
  color: #fff;
}

@media (max-width: 1660px) {
  .country {
    width: 25%;
  }
}

@media (max-width: 900px) {
  .country {
    width: 33%;
  }
}

@media (max-width: 640px) {
  .country {
    width: 50%;
  }
}

@media (max-width: 460px) {
  .country {
    width: 100%;
  }
}
